{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSameLine": true,
  "singleQuote": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "strict"
}
